body, html {
  height: 100%;
  background-color: #FFCD95;
}
.bg {
  background-image: url("./assets/img/Game.svg") ;
  background-repeat: no-repeat;
  padding-top: 30px;
  height:max-content; 

 }
 .main-page-logo-space{
  padding-left: 80px;
  padding-bottom: 140px;
  padding-top: 100px;
 }
.header-layout{
  background-color: #FF623E;
  color: #ffffff;
  padding-left: 20px;
  font-weight: 600;
  font-size: 20px;                                               
}
.navbar-brand{
  color: #ffffff !important;
  font-size: 28px;
  font-family:cursive;
}
.nav-link {
  color: #fff !important;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.first-purple-box{
  background-color: #6922FF;
  padding: 30px;
  border-radius: 20px;
}
.blue-box{
  background-color: #22AFFF;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}
.box-image{
  padding: 5px;
}
.box-text{
  color: #fff !important;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box-title{
  color: #fff !important;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.green-box{
  background-color: #35CB00;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}
.orange-box{
  background-color: #FF623E;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}
.blog-bg{
  background-color: #FFCD95;
}
.blog-header{
  color: #6922FF;
  font-size: 28px;
  font-weight: 700;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.blog-title{
  color: #FF623E;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.blog-text{
  color: rgb(0, 84, 0);
}